body {
	padding-top: 60px;
}

.no-border {
	border: 0px;
	box-shadow: none;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

input {
	width: 80%!important;
}

.btn {
	padding: 1px 3px;
}

.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }