<!DOCTYPE html>
<html ng-app='filtr'>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="icon" href="/filtr/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/filtr/css/bootstrap.css" />
<link rel="stylesheet" href="/filtr/css/style.css" />
<script src="/filtr/js/angular.js"></script>
<script src="/filtr/js/ui-bootstrap.min.js"></script>
<script src="/filtr/js/app.js"></script>
<title>Filtr</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">Filtr</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<div ng-controller="AppController">
			<div class="row">
				<div class="col-md-4">
				<h2>Word Lists</h2>
					<ul class="list-group">
						<li class="list-group-item clearfix"
							ng-repeat="wordList in wordLists"><a ng-click="changeActiveList(wordList)">{{wordList.name}}</a></li>
						<li class="list-group-item clearfix">
							<form role="form">
							    <input ng-model="newList.name" type="text" class="float-left form-control no-border" placeholder="New Word List">
							    <button ng-click="addList(newList)" class="btn float-right glyphicon glyphicon-plus"></button>
							</form>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
				<h2>Profanities</h2>
					<ul class="list-group">
						<li class="list-group-item  clearfix"
							ng-repeat="profanity in activeList.profanities">{{profanity.name}}<button ng-click="removeFromList(profanity)" class="btn float-right glyphicon glyphicon-remove"></button></li>
					</ul>
				</div>
				<div class="col-md-4">
				<h2>Add Profanities</h2>
					<ul class="list-group">
						<li class="list-group-item clearfix"
							ng-repeat="profanity in excludedProfanities"><a ng-click="addToList(profanity)">{{profanity.name}}</a><button ng-click="delete(profanity)" class="btn float-right glyphicon glyphicon-remove"></button></li>
						<li class="list-group-item clearfix">
							<form role="form">
							    <input ng-model="newProfanity.name" type="text" class="form-control float-left no-border" placeholder="New Profanity">
							    <button ng-click="addProfanity(newProfanity)" class="btn float-right glyphicon glyphicon-plus"></button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
